DirectoryIndex public/index.php?r=home/index
ErrorDocument 404 http://proyecto.local/public/index.php?r=home/error
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ public/$1 [L] 
